annotated-types
anyio
asgiref
boto3
botocore
certifi
cff
charset-normalizer
cryptography
deprecation
dj-database-url
Django
django-autoslug
django-crispy-forms
django-widget-tweaks
h11
hpack
httpcore
httpx
hyperframe
instamojo-wrapper
jmespath
multidict
packaging
pillow
postgrest
propcache
psycopg2-binary
pycparser
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
realtime
requests
s3transfer
six
sqlparse
storage3
StrEnum
supabase
supabase-auth
supabase-functions
typing-inspection
typing_extensions
tzdata
urllib3
websockets
whitenoise
yarl